{
  "printWidth": 140,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["apps/web/**/*.{ts,tsx}"],
      "options": { "singleQuote": true, "printWidth": 200 }
    },
    {
      "files": ["packages/renderer/**/*.ts"],
      "options": { "singleQuote": true }
    },
    {
      "files": ["*.md"],
      "options": { "proseWrap": "preserve" }
    }
  ]
}
